/* drag css */

.component {
    border: 1px dotted gray;
    cursor: move;
}

.handle {
    border: 1px solid gray;
    cursor: move;
}

#content_form_name {
    padding: 10px;
    background-color: khaki;
}