HTML,
BODY {
    margin: 0px;
    padding: 0px;
    width: 100%;
}

a {
    color: #00c800;
}

a:hover {
    color: #00c800;
}

.pagination>.active>a,
.pagination>.active>a:focus,
.pagination>.active>a:hover,
.pagination>.active>span,
.pagination>.active>span:focus,
.pagination>.active>span:hover {
    z-index: 3;
    color: rgb(255, 255, 255);
    cursor: default;
    background-color: #00c800;
    border-color: #00c800;
}

.pagination>li>a,
.pagination>li>span {
    color: #00c800;
}

.pagination>li>a:focus,
.pagination>li>a:hover,
.pagination>li>span:focus,
.pagination>li>span:hover {
    color: #00c800;
}

#body {
    width: 100%;
    margin: 0px;
}

.navbar-inverse {
    background-color: rgb(47, 179, 47);
    color: white;
}

.navbar-inverse .navbar-brand {
    color: white;
}

.navbar-inverse .navbar-nav>li>a {
    color: white;
}

.navbar-inverse .navbar-nav>li>a:focus,
.navbar-inverse .navbar-nav>li>a:hover {
    background-color: rgb(82, 207, 82);
}

#content {
    padding: 10px;
    max-width: 1100px !important;
    margin: 0px auto;
    padding-bottom: 50px;
    line-height: 1.5em;
    display: inline-flexbox;
}

.form-control {
    border: 1px solid rgb(220, 220, 220) !important;
    border-radius: 4px !important;
    padding: 3px 5px !important;
    background-color: #ebffeb;
}

footer {
    margin-top: 100px;
    border-top: 1px dotted #d0d0d0;
    padding: 10px 30px;
    font-size: 1em;
    clear: left;
    max-width: 1000px;
    margin-left: auto;
    margin-right: auto;
}

footer ul {
    list-style: inline-block;
}

footer ul li {
    list-style: inline-block;
    list-style-type: none;
    float: left;
    padding: 10px 20px;
}

.campdata-box {
    margin-bottom: 10px;
    font-size: 1em;
    line-height: 1.1em;
    padding: 5px;
    margin: 5px;
}

.campdata-box.featured {
    background-color: #fcf0ab84;
    border: 1px solid black;
}

.campdata-box div.thumb {
    width: 140px;
    height: 140px;
    float: left;
    margin-right: 5px;
    border: 1px solid gray;
    background-position: center;
    background-size: cover;
}

.campdata-box2x a>div.thumb {
    clear: both;
}

.campdata-box2x div.thumb {
    width: 100%;
    min-height: 150px;
}

@media (min-width:768px) {
    .campdata-box2x a>div.thumb {
        float: left;
    }
    .campdata-box2x a>div.thumb {
        width: 300px;
        height: 200px;
    }
}

.campdata-box div.title {
    font-size: 1em;
    font-weight: 700;
}

.campdata-box2x div.left-col,
.campdata-box2x div.right-col {
    display: block;
    vertical-align: top;
}

@media (min-width:768px) {
    .campdata-box2x div.left-col,
    .campdata-box2x div.right-col {
        display: table-cell;
        vertical-align: top;
    }
}

.campdata-box2x div.title {
    font-size: 1.6em;
    line-height: 1.3em;
    display: table-row;
}

.campdata-box div.desc {
    font-size: 0.8em;
    text-align: justify;
}

.campdata-box2x div.desc {
    font-size: 1em;
    line-height: 1.2em;
    display: table-row;
}

.campdata-box div.footer {
    font-size: 0.8em;
    background-color: #b0b0b037;
    margin-top: 5px;
    padding: 2px 0px;
    display: grid;
    clear: both;
}

.campdata-box2x div.footer {
    font-size: 0.8em;
    bottom: 0px;
    right: 0px;
    width: auto;
    display: flex;
}

@media (min-width:768px) {
    .campdata-box2x div.footer {
        /*position: absolute;
        float: left;
        left: 300px;*/
    }
}

article.news-list .photo {
    float: right;
    max-height: 100px;
    max-width: 150px;
    margin: 5px;
}

article.news-list {
    display: inline-block;
    width: 100%;
    margin-bottom: 2em;
}

article.news-list a.more {
    background-color: #00c800;
    color: white;
    padding: 5px 10px;
    float: right;
    clear: both;
    border-radius: 5px;
}

article.news-list h4.title {
    margin-bottom: 0.5em;
}

article.news-list .category {
    font-size: 80%;
    font-style: italic;
    margin-left: 20px;
    margin-bottom: 10px;
}

article.news-list .body {
    text-align: justify;
}

article.camp-details {
    position: relative;
}

article.camp-details h3 {
    border-bottom: 2px solid rgb(47, 179, 47);
    margin-bottom: 5px;
    margin-top: 10px;
    color: rgb(47, 179, 47);
}

article.camp-details .header {
    min-height: 400px;
    position: relative;
    background-size: cover;
    background-position: center;
}

article.camp-details .header .title {
    position: absolute;
    bottom: 20px;
    background-color: rgba(108, 181, 108, 0.68);
    padding: 5px 20px;
    left: 0px;
    border-radius: 0 10px 10px 0;
    text-shadow: 1px 1px rgb(68, 68, 68);
    color: white;
    letter-spacing: 1px;
}

article.camp-details .desc {
    padding: 20px;
    text-align: justify;
}

article.camp-details .body {
    clear: both;
    margin-top: 2em;
}

.page-nav {
    z-index: 900;
    position: -webkit-sticky;
    position: sticky;
    top: 0px;
    z-index: 900;
    background-color: rgba(200, 200, 200, 0.4);
    padding: 5px;
}

.page-nav a {
    background-color: white;
}

select.highlight {
    background-color: rgb(143, 238, 126);
}

.ekko-lightbox .modal-header {
    padding: 5px;
}

.ekko-lightbox .modal-header h4 {
    font-size: 20px;
    float: left;
}

.required {
    border-left: 4px solid red !important;
}

.banner_area.side_banners {
    display: none;
}

@media (min-width:768px) {
    .banner_area.side_banners {
        display: block;
    }
}

.banner_area.banners4x4 .banner {
    float: left;
    width: auto;
    padding: 5px;
    margin: 5px;
}

div.inline-page-form {
    margin: 20px;
    border: 1px solid gray;
    box-shadow: 2px 2px 4px rgb(198, 198, 198);
    padding: 10px;
    clear: both;
}

.share {}

.share ul {
    margin: 0px;
    padding: 0px;
}

.share ul li {
    float: left;
    margin: 10px 20px;
}

.featured-label {
    float: right;
    margin: 0px;
    font-size: 80%;
    font-weight: bold;
}

.body p,
article p,
content p {
    margin-top: 1.5em;
    margin-bottom: 1.5em;
}