/* CSS reset*/
html,body {position:relative;margin:0;padding:0;min-height:100%;width:100%;height:100%;}
div,p,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,form,fieldset,input,textarea,p,blockquote,th,td, figure {margin:0;padding:0;}
ol,ul {list-style:none;}
li {list-style-type: none;}
* { -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box; }

BODY, TABLE, FORM, INPUT {
    margin: 0px;
    padding: 0px;
    font-family: 'Open Sans', Helvetica, sans-serif;
    color: #5c5959;
}

html, body {
    height: 100%;
    font-size: 16px;
    line-height: 20px;
	margin-bottom: 30px;
	padding-bottom: 30px;
}

#wrapper{
    height: 100%;
    padding-bottom: 40px;
}


.m0 {
    margin: 0px;
}
.m1 {
    margin: 1px;
}
.m2 {
    margin: 2px;
}
.m5 {
    margin: 5px;
}
.m10 {
    margin: 10px;
}
.p0 {
    padding: 0px;
}
.p1 {
    padding: 1px;
}
.p2 {
    padding: 2px;
}
.p5 {
    padding: 5px;
}
.p10 {
    padding: 10px;
}
.w50 {
    width: 50px !important;
}
.w100 {
    width: 100px !important;
}
.w150 {
    width: 150px !important;
}
.w200 {
    width: 200px !important;
}
.w300 {
    width: 300px !important;
}

.tl, .al {
    text-align: left !important;
}
.tr, .ar {
    text-align: right !important;
}
.tc, .ac {
    text-align: center !important;
}
.fl {
    float: left;
}
.fr {
    float: right;
}

.onclick, .clickMe {
    cursor: pointer;
    font-weight: bold;
}

