BODY {
    background-color: #e1e1e1;
}

#content {
    padding: 20px 10px;
}

#status {
    display: none;
    position: fixed;
    bottom: 0px;
    background-color: #91e8ff;
    width: 100%;
    padding: 2px 5px;
}

#debug {
    display: block;
    position: fixed;
    right: 5px;
    top: 5px;
    background-color: #ffface;
    width: 300px;
    padding: 5px;
}

.form-control {
    border: 1px solid rgb(220, 220, 220) !important;
    border-radius: 4px !important;
    padding: 3px 5px !important;
    background-color: aliceblue;
}

.dropdown-submenu {
    position: relative;
}

.dropdown-submenu>.dropdown-menu {
    top: 0;
    left: 100%;
    margin-top: -6px;
    margin-left: -1px;
    -webkit-border-radius: 0 6px 6px 6px;
    -moz-border-radius: 0 6px 6px;
    border-radius: 0 6px 6px 6px;
}

.dropdown-submenu:hover>.dropdown-menu {
    display: block;
}

.dropdown-submenu>a:after {
    display: block;
    content: " ";
    float: right;
    width: 0;
    height: 0;
    border-color: transparent;
    border-style: solid;
    border-width: 5px 0 5px 5px;
    border-left-color: #ccc;
    margin-top: 5px;
    margin-right: -10px;
}

.dropdown-submenu:hover>a:after {
    border-left-color: #fff;
}

.dropdown-submenu.pull-left {
    float: none;
}

.dropdown-submenu.pull-left>.dropdown-menu {
    left: -100%;
    margin-left: 10px;
    -webkit-border-radius: 6px 0 6px 6px;
    -moz-border-radius: 6px 0 6px 6px;
    border-radius: 6px 0 6px 6px;
}

#components-container * {
    font-size: 85%;
}

.highlight {
    background-color: rgb(240, 221, 164);
}